/*cuerpo*/
body{
	margin: 0 10%;
	background-color: rgb(1, 255, 153) ;
	font-family: sans-serif;
	font-size: 1.5rem;
	text-align: justify;
}

/*Titulos*/
h1{
	color: rgb(23, 44, 28);
	text-align: center;
	text-decoration: underline overline ;
}

h2{
	color: rgb(60, 255, 180));
	text-align: center;
	text-decoration: underline overline ;
}

/* divs */
div{
	display: block;
	justify-content: center;
}

/* Barra de navegacion */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(32, 55, 38);
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: rgb(0, 216, 124);
}

/* Tablas */
table{
	border: 1px solid black;
	text-align: center;
	padding: 15px;
	border-spacing: 2px;
}
th{
	border: 2px solid black;

}
td{
	border: 1px solid black;
}


/* HORARIOS */

td#bd {
	background-color: rgb(222, 94, 149);
}
td#bd:hover { 
	background-color: rgb(136, 25, 34);	
}

td#pro {
	background-color: rgb(255, 106, 1);
}
td#pro:hover { 
	background-color: rgb(245, 198, 151);	
}	

td#ing {
	background-color: rgb(95, 196, 177);
}
td#ing:hover { 
	background-color: rgb(102, 102, 39);	
}	

td#len {
	background-color: rgb(177, 95, 201);
}
td#len:hover { 
	background-color: rgb(5, 246, 217);	
}	

td#emp {
	background-color: rgb(251, 214, 115);
}
td#emp:hover { 
	background-color: rgb(255, 58, 10);	
}	

td#fol {
	background-color:rgb(250, 250, 250);
}
td#fol:hover { 
	background-color:  rgb(142, 149, 205);	
}	

td#ent {
	background-color:rgb(218, 154, 151);
}
td#ent:hover { 
	background-color:  rgb(2, 58, 69);	
}	

td#sis {
	background-color:rgb(215, 243, 0);
}
td#sis:hover { 
	background-color: rgb(255, 47, 98);	
}	



	
 td:hover {background-color: rgb(0, 216, 124);} }
}
