
body{
	background-color: #F2E9E1;
  	margin: auto;
	font-family:Helvetica;
}

fieldset{
	background-color:#f7f2ed;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
  	float: center;
  	-moz-border-radius:8px;
    -webkit-border-radius:8px;	
}

#contacto{
	border:2px solid  #4DBCE9;
}

.moodle{
	border: 2px solid #99ffd6;
}

#personales{
	border: 2px solid #e6b3ff;
}

.profesional{
	border: 2px solid #ffb3b3;
}

table{
	margin-left:auto; 
    margin-right:auto;
}

fieldset input {
  text-align: center;
}

h1{
	color: #4DBCE9;
	letter-spacing: 5px;
	text-align: center;
	text-decoration: underline overline ;
}

p{
	color: #1C140D;
	font-weight: bold;
}

.boton {
	box-shadow:inset 0px 0px 0px 2px #9fb4f2;
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Times New Roman;
	font-size:19px;
	font-weight:bold;
	font-style:italic;
	padding:13px 37px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
.boton:hover {
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	background-color:#476e9e;
}
.boton:active {
	position:relative;
	top:1px;
}
